@use 'base';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Ropa+Sans&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: base.$background-color;
    font-family: 'Ropa Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

.hover-text-effect {
    @extend %link-hover;
}

main {
    padding: 1rem;
    max-width: 1280px;
    margin: 0 auto;
}

.page-animation {
    animation: fade-in 2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header {

    &-name {
        @include base.header-text($font-size: 2.75rem);
    }

    &-title {
        @include base.header-text($font-size: 1.75rem, $primary-text-color: base.$secondary-text-color);
    }

    .social {
        display: flex;
        gap: 1rem;
        margin-top: .5rem;

        &-icon {
            width: 35px;
            height: 35px;
            transition: all 500ms;

            &:hover {
                transform: scale(1.20);
            }
        }
    }
}

.about {
    p {
        text-align: justify;
        @include base.header-text($font-size: 1.135rem, $line-height: 1.5);
    }
}

/* Not Included */
.skill {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: 0.5rem 0;
    font-size: 1.1rem;

    &-item {
        @extend %box-shadow;
        display: flex;
        align-items: center;
        gap: .5rem;
        border-radius: 10px;
        padding: 0.25em 0.5em;
        color: base.$primary-text-color;
        background-color: base.$element-color;
        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }

        .skill-icon {
            width: 15px;
        }
    }
}

.project {
    &-header {
        margin: 1rem 0;
        @include base.header-text($font-size: 1.75rem, $primary-text-color: base.$secondary-text-color);
    }

    &-grid {
        display: grid;
        gap: 1.75rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        &-card {
            border-radius: 10px;
            text-align: justify;
            color: base.$primary-text-color;
            background-color: base.$element-color;
            @extend %box-shadow;

            &-image {
                display: block;
                width: 100%;
                max-height: 175px;
                border-radius: 10px 10px 0 0;
                object-fit: cover;
                object-position: top;
            }

            &-inner {
                padding: .75rem;
                line-height: 1.25;
                min-height: 225px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &-tech {
                display: flex;
                align-items: center;
                gap: .5rem;

                &-item {
                    width: 30px;
                    height: 30px;
                }
            }

            &-link {
                margin-top: 1rem;

                &-item {
                    color: inherit;
                    text-decoration: none;
                    padding: .25rem;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    transition: all 500ms;
                    display: inline-block;

                    &:first-of-type {
                        margin-right: 1rem;
                    }

                    &:hover {
                        background-color: #fff;
                        color: base.$background-color;
                    }
                }
            }
        }
    }
}


.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: base.$element-color;

    q {
        font-size: 1rem;
        line-height: 1.5;
        color: base.$primary-text-color;
        font-weight: 500;
    }

    p {
        @include base.header-text($font-size: 1rem, $line-height: 1.5);
        color: base.$secondary-text-color;
        font-weight: 500;
    }
}

@media(min-width: base.$breakpoint-small) {
    html {
        font-size: 18px;
    }
}

@media(min-width: base.$breakpoint-medium) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-avatar {
            max-width: 400px;
            max-height: 400px;
        }
    }
}