---
import Header from "@/components/Header.astro";
import Project from '@/components/Project.astro';
import Footer from "@/components/Footer.astro";
import '@/styles/index.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/avatar.svg" />
		<meta name="generator" content={Astro.generator} />        
        
        <meta name="google-site-verification" content="stwydS-6dCnOqGwCj3kLK2-WjzTFCxfLb1O-a9reGN8" />
        <meta name="description" content="Maurice Valerio">
        <meta property="og:image" content="https://mauricevalerio.dev/metadata-image.png" />

		<title>Maurice Valerio</title>
        
	</head>
	<body class="page-animation">
        <main >
            <Header />
            <Project />
        </main>
        <Footer />
	</body>
</html>
