---
import Header from "@/components/Header.astro";
import About from "@/components/About.astro";
import Project from '@/components/Project.astro';
import Footer from "@/components/Footer.astro";
import '@/styles/index.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/avatar.svg" />
		<meta name="generator" content={Astro.generator} />        
        <meta name="google-site-verification" content="stwydS-6dCnOqGwCj3kLK2-WjzTFCxfLb1O-a9reGN8" />

        <meta name="title" content="Maurice Valerio">
        <meta name="name" content="Maurice Valerio">
        <meta name="description" content="Maurice Valerio Front End Developer">
        <meta property="og:image" content="https://mauricevalerio.dev/metadata-image.png" />

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://mauricevalerio.dev/">
        <meta property="og:title" content="Maurice Valerio">
        <meta property="og:description" content="Maurice Valerio Front End Developer">
        <meta property="og:image" content="https://mauricevalerio.dev/metadata-image.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="website">
        <meta property="twitter:url" content="https://mauricevalerio.dev/">
        <meta property="twitter:title" content="Maurice Valerio">
        <meta property="twitter:description" content="Maurice Valerio Front End Developer">
        <meta property="twitter:image" content="https://mauricevalerio.dev/metadata-image.png">

		<title>Maurice Valerio - Front-End Developer</title>
        
	</head>
	<body class="page-animation">
        <main >
            <Header />
            <About />
            <Project />
        </main>
        <Footer />
	</body>
</html>
