---

---
<section class="about">
    <p>
        Proficient in HTML, CSS, JavaScript, and TypeScript. I find it fun creating interactive and engaging web experiences without compromising accessibility.
        Currently doing <a href="https://www.frontendmentor.io/challenges" target="_blank" class="hover-text-effect">Frontendmentor challenges</a>. 
        Going back to JavaScript and TypeScript as I'm looking forward to Vanilla JavaScript and TypeScript being used to build sites without the need of a framework, package, or library.
        I will still occassionally use frameworks and packages too make some development process faster.
    </p>
</section>
