---

---
<section class="about">
    <p>
        Has both IT infrastructure operations and web development experience. Currently studying IT security, network, and cloud technologies.
    </p>
</section>
