---

---
<section class="about">
    <p>
        Love creating interactive and engaging web experiences. 
        I find myself immersed using different web frameworks, tools, and technologies. Currently tinkering with PHP, Vue, Astro, and Web Components while implementing it to <a href="https://www.frontendmentor.io/challenges" target="_blank" class="hover-text-effect">Frontendmentor challenges</a>.
    </p>
</section>
