---

---
<section class="about">
    <p>
        I find it fun creating interactive and engaging web experiences without compromising accessibility. Currently doing <a href="https://www.frontendmentor.io/challenges" target="_blank" class="hover-text-effect">Frontendmentor challenges</a>. 
        Currently trying out Astro, Vue, web components, and Docker.
    </p>
</section>
