.about-me-text {
    color: #323232;
}

.about-me-text p {
    line-height: 1.5;
    letter-spacing: 0.125rem;
    font-size: 1.1rem;
}

.read-more-less {
    font-weight: 700;
    text-decoration: underline;
    color: #323232;
    cursor: pointer;
    display: block;
}

@media (width >=768px) {
    section#about-me {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .avatar-image {
        order: -1;
        max-width: 40%;
    }

    .about-me-text p {
        font-size: 1.35rem;
    }
}