---

---
<section class="about">
    <p>
        Love creating interactive and engaging web experiences. 
        I find myself immersed using different web frameworks, tools, and technologies. Currently focused on Microsoft technologies specifically Azure, .NET Core Framework, C#, and SQL Server. Occassionally does <a href="https://www.frontendmentor.io/challenges" target="_blank" class="hover-text-effect">Frontendmentor challenges</a>.
    </p>
</section>
