h2.contact-me-header {
    text-align: center;
}

.contact-me-image {
    width: 100%;
}

textarea,
input,
button {
    background: #f5f5f5;
    padding: 1em 1.5em;
    color: #323232;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
    margin-top: 0.25em;
    border: none;
}

textarea {
    height: 350px;
}

textarea,
input {
    border-radius: 16px;
}

button {
    border-radius: 24px;
    text-shadow: 0px 0px 1px #323232;
    width: 100%;
    cursor: pointer;
}

textarea {
    resize: none;
}

.label-text {
    color: #323232;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.input-group:last-of-type {
    margin-bottom: 0;
}

@media (width >=1024px) {
    section#contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }


    input,
    textarea {
        padding: 1em;
    }

    textarea {
        height: 175px;
    }

    .contact-me-inner,
    form {
        flex: 1;
    }

    .contact-me-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-me-image {
        width: 70%
    }

    button {
        width: unset;
    }
}