section#hero {
    padding-top: 7.5em;
}

.title {
    padding-bottom: 1rem;
}

div.hero-image {
    width: 100%;
}

h1 {
    transform: translateY(1em);
    opacity: 0;
}

.basic-animation {
    animation: 2s ease-in-out forwards move-up
}

.first-title {
    animation-delay: 0.2s;
}

.second-title {
    animation-delay: 0.3s;
}

@keyframes move-up {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (width >=1024px) {
    section#hero {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .title {
        padding-bottom: unset;
    }

    div.hero-image {
        max-width: 40%;
    }
}