---
import { getCollection } from "astro:content";
import SkillItem from "@/components/SkillItem.astro";

const headerData = await getCollection("skill");
const { data } = headerData[0]
---
<section class="skill">
    {
    data.skillList.map((skill) => (<SkillItem name={skill.name} icon={skill.iconPath}/>))
    }
</section>