@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #DDD0C8;
}

section.padding {
  padding: 3em 1em;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-size: clamp(40px, 60%, 60px)
}

h2 {
  margin: 0;
  font-size: 2.5rem;
  font-size: clamp(32px, 50%, 55px)
}

.primary-color {
  color: #323232;
}

@media (width >=768px) {
  section.padding {
    padding: 3em 8em;
  }
}