@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --background-color: #DDD0C8;
  --primary-color: #494136;
  --underline-color: #c26850;
  --input-background: #f5f5f5;
  --secondary-color: #f1cb60;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  background: var(--background-color);
}

/********** GENERAL CONTAINERS **************/
section.component-layout {
  display: flex;
  padding: 3em 1em;
}

section.component-layout {
  flex-direction: column;
}

.component-child {
  flex: 1;
}

.component-child-larger {
  flex: 1.25;
}

/************* GENERAL TYPOGRAPHY ***************/

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h1.job-title {
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
}

h2:before {
  content: '<';
}

h2:after {
  content: '>';
}

p {
  line-height: 1.75;
  letter-spacing: 0.0125rem;
  font-size: 1.25rem;
  text-align: justify;
}

p.margin-zero {
  margin: 0;
}

.primary-color {
  color: var(--primary-color);
}

.underline-color {
  border-bottom: 5px solid var(--underline-color);
}

a.link {
  text-decoration: none;
  position: relative;
  transition: all 2s linear;
  color: var(--primary-color);
}

a.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--underline-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a.strong {
  font-weight: 700;
}

/*************** HERO ***************/

section#hero {
  padding-top: 7rem;
}

div.title {
  padding-bottom: 1rem;
}

/********** ABOUT ME ***************/

span.read-more-less {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

/********** SKILLS ***************/

div.skill-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0.5em;
}

div.skill-item {
  width: 135px;
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.skill-icon {
  width: 125px;
  height: 100px;
  transition: all 0.5s ease-in-out;
}

img.skill-icon:hover {
  transform: scale(1.1);
}

/********** PROJECTS ***************/
div.phone-border {
  border: 0.25rem solid var(--input-background);
}

div.phone {
  width: 23rem;
  height: 34rem;
  padding: 0 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--underline-color);
  margin: 0 auto;
}

div.phone-mic {
  height: 0.25rem;
  width: 8rem;
  margin: 1rem auto;
  border-radius: 50rem;
  background-color: var(--input-background);
}

div.phone-screen {
  flex: 1 0 auto;
  background-color: var(--input-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

div.phone-button {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--input-background);
  border-radius: 50%;
  margin: 1rem auto;
}

div.project-item-container {
  width: 75px;
}

a.project-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  color: var(--primary-color);
}

a.project-link:hover {
  transform: scale(1.1);
}

img.project-icon {
  width: 60px;
  height: 60px;
}

p.project-title {
  text-align: center;
  font-size: 0.85rem;
  line-height: 1;
}

/********** CONTACT ME ***************/
textarea,
input,
button {
  background: var(--input-background);
  color: var(--primary-color);
  padding: 1em;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 20px;
}

textarea {
  height: 250px;
  resize: none;
}

button {
  text-shadow: 0px 0px 1px var(--primary-color);
  width: 100%;
  cursor: pointer;
  transition: all 0.25s linear;
}

button:hover:not(:disabled) {
  background: var(--primary-color);
  color: var(--input-background);
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px var(--primary-color);
}

button:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}

.label-text {
  color: var(--primary-color);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 1em;
}

div.social-media {
  display: flex;
  gap: 1.5em;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

.rotate-icon:hover {
  animation-name: rotate;
  animation-duration: .5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

[data-icon="linkedin"]>path:hover {
  fill: #0077b5;
}

[data-icon="square-facebook"]>path:hover {
  fill: #3A5795;
}

[data-icon="square-instagram"]>path:hover {
  fill: #e1306c;
}

div.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

span.message-sent {
  font-size: 0.75rem;
  border-radius: 10px;
  padding: 0.5em;
  color: var(--input-background);
}

span.success {
  background: #04AA6D;
}

span.failed {
  background: #f44336;
}

.basic:before {
  display: inline-block;
  content: '';
  height: 40px;
  width: 40px;
  animation: spin .5s infinite linear;
  border: 6px var(--primary-color) solid;
  border-left-color: var(--underline-color);
  border-radius: 100%;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/********** FOOTER ***************/
section.footer {
  background: var(--secondary-color);
  width: 100%;
  padding: 1em;
}

section.footer p {
  font-size: 0.85rem;
  text-align: center;
  color: var(--primary-color);
}

/********** MEDIA QUERIES ***************/

@media (width >=768px) {
  section.component-layout {
    padding: 3em 10em;
    gap: 1.5em;
  }

  section#hero {
    padding-top: unset;
  }
}

@media (width >=1024px) {
  section.component-layout {
    flex-flow: unset;
    align-items: center;
  }

  h1 {
    font-size: 2.75rem;
  }

  h1.job-title {
    font-size: 2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  /* HERO */
  div.title {
    padding-bottom: unset;
  }

  img.hero-image {
    max-width: 47%;
  }

  /* ABOUT ME */
  img.avatar-image {
    order: -1;
    max-width: 30%;
  }

  /* SKILLS */
  div.skills-inner {
    order: 1;
  }

  /* CONTACT ME */
  button {
    width: unset;
  }

  div.loading {
    flex-direction: row;
  }
}

@media (width > 1024px) {
  section.component-layout {
    padding: 3em 15em;
  }
}