$background-color: hsl(207, 26%, 17%);
$primary-text-color: hsl(0, 0%, 100%);
$element-color: hsl(209, 23%, 22%);
$secondary-text-color: #c26850;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

@mixin header-text($font-size, $line-height: 1.25, $primary-text-color: $primary-text-color) {
    color: $primary-text-color;
    font-size: $font-size;
    line-height: $line-height;
}

%box-shadow {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

%link-hover {
    color: $secondary-text-color;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: all 2s linear;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $secondary-text-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

}

%reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%flex-container {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

%flex-item {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    border-radius: 10px;
    padding: 0.25em 0.5em;
    color: $primary-text-color;
    background-color: $element-color;
    transition: all .2s;

    &:hover {
        transform: scale(1.05);
    }
}

%grid-container {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}