@use 'base';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Ropa+Sans&display=swap');


* {
    @extend %reset;
    @extend %link-hover;
}

html {
    font-size: 16px;
}

body {
    background-color: base.$background-color;
    font-family: 'Ropa Sans', sans-serif;
    padding: 1.125rem;
    max-width: 1024px;
    margin: 0 auto;
}

.page-animation {
    animation: fade-in 2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1 {
    @include base.header-text($font-size: 2.75rem);
}

h2 {
    @include base.header-text($font-size: 1.75rem, $primary-text-color: base.$secondary-text-color);
}

.avatar {
    max-width: 200px;
}

.avatar-laptop {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.about {
    p {
        @include base.header-text($font-size: 1.135rem, $line-height: 1.5);
    }
}

.footer {
    margin: 1em 0;

    p {
        @include base.header-text($font-size: 1.135rem, $line-height: 1.25);
        text-align: center;
    }
}

.social-container {
    @extend %flex-container;
    align-items: center;
    column-gap: 1.125em;

    .social-icon {
        width: 30px;
    }
}

.skill-container {
    @extend %flex-container;
    font-size: 1.1rem;

    .skill-item {
        @extend %flex-item;
        @extend %box-shadow;

        .skill-icon {
            width: 15px;
        }
    }
}

.projects-container {
    @extend %flex-container;

    .project-item {
        @extend %flex-item;
        flex: 1;

        .project-icon {
            width: 50px;
        }
    }
}

.dropdown-container {
    @extend %flex-container;
    align-items: center;

    select {
        @extend %select-style;
    }

    .repo-link {
        width: 35px;
    }
}

@media(min-width: base.$breakpoint-small) {
    html {
        font-size: 18px;
    }
}

@media(min-width: base.$breakpoint-medium) {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}