@use 'base';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Ropa+Sans&display=swap');


* {
    @extend %reset;
}

.hover-effect {
    @extend %link-hover;
}

html {
    font-size: 16px;
}

body {
    background-color: base.$background-color;
    font-family: 'Ropa Sans', sans-serif;
}

main {
    padding: 1.125rem;
    max-width: 1024px;
    margin: 0 auto;
}

.page-animation {
    animation: fade-in 2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.name {
    @include base.header-text($font-size: 2.75rem);
}

.title {
    @include base.header-text($font-size: 1.75rem, $primary-text-color: base.$secondary-text-color);
}

.avatar {
    max-width: 400px;
}

.about {
    p {
        @include base.header-text($font-size: 1.135rem, $line-height: 1.5);
    }
}

.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: base.$element-color;

    q {
        font-size: 1rem;
        line-height: 1.5;
        color: base.$primary-text-color;
        font-weight: 500;
    }

    p {
        @include base.header-text($font-size: 1rem, $line-height: 1.5);
        color: base.$secondary-text-color;
        font-weight: 500;
    }
}

.social-container {
    @extend %flex-container;
    align-items: center;
    column-gap: 1rem;

    .social-icon {
        width: 35px;
        transition: all 500ms;

        &:hover {
            transform: scale(1.20);
        }
    }
}

.skill-container {
    @extend %flex-container;
    font-size: 1.1rem;

    .skill-item {
        @extend %flex-item;
        @extend %box-shadow;

        .skill-icon {
            width: 15px;
        }
    }
}

.project-header {
    margin: 1rem 0;
    @include base.header-text($font-size: 1.75rem, $primary-text-color: base.$secondary-text-color);
}

.projects-container {
    @extend %grid-container;

    .project-item-container {
        border-radius: 10px;
        color: base.$primary-text-color;
        background-color: base.$element-color;
        @extend %box-shadow;
        display: flex;
        flex-direction: column;

        .project-item-image {
            display: block;
            width: 100%;
            max-height: 175px;
            border-radius: 10px 10px 0 0;
        }

        .project-item-info {
            padding: .75rem;
            flex: 2;
            display: flex;
            flex-direction: column;
            row-gap: .5rem;

            .project-item-description {
                line-height: 1.25;
            }

            .tech-stack-container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: .5rem;

                .tech-stack-item {
                    width: 30px;
                }
            }

            .project-link-container {
                margin-top: auto;
                padding-top: 1rem;
            }

            .project-item-link {
                color: inherit;
                text-decoration: none;
                padding: 0.25rem;
                border: 1px solid #fff;
                border-radius: 5px;
                transition: all 500ms;
                display: inline-block;

                &:first-of-type {
                    margin-right: 1rem;
                }

                &:hover {
                    background-color: #fff;
                    color: base.$background-color;
                }
            }
        }
    }
}

@media(min-width: base.$breakpoint-small) {
    html {
        font-size: 18px;
    }
}

@media(min-width: base.$breakpoint-medium) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}